[submodule "svm/Simple-SVM"]
	path = svm/Simple-SVM
	url  = https://github.com/Qinka/Simple-SVM.git

[submodule "tensorflow"]
	path = tensorflow
	url = https://github.com/tensorflow/haskell.git
[submodule "reports/bib"]
	path = reports/bib
	url = https://github.com/Qinka/qinka-bib.git
