[submodule "svm/Simple-SVM"]
	path = svm/Simple-SVM
	url  = https://github.com/Qinka/Simple-SVM.git

[submodule "nn/tensorflow"]
	path = nn/tensorflow
	url = https://github.com/tensorflow/haskell.git
